<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h4 class="text-center">Logowanie</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
                [ngClass]="{'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}"
              />
              <div class="invalid-feedback">Proszę wprowadzić poprawny adres email.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Hasło</label>
              <input
                type="password"
                id="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}"
              />
              <div class="invalid-feedback">Hasło jest wymagane.</div>
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger mt-3">
              {{ errorMessage }}
            </div>

            <button type="submit" class="btn btn-primary w-100" [disabled]="!loginForm.valid">Zaloguj się</button>
          </form>
        </div>
        <div class="card-footer text-center">
          <small>Nie masz konta? <a class="text-primary" routerLink="/register">Zarejestruj się</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
