<!-- <div class="user-reservations mt-4">
    <h3>Twoje rezerwacje</h3>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <ul *ngIf="reservations.length > 0; else noReservations">
      <li *ngFor="let reservation of reservations">
        <strong>{{ reservation.type }}</strong> - {{ reservation.date }} {{ reservation.startTime }} - {{ reservation.endTime }}
      </li>
    </ul>
    <ng-template #noReservations>
      <p>Nie masz żadnych rezerwacji.</p>
    </ng-template>
  </div>
   -->

   <div class="user-reservations mt-4">
    <h3>Twoje rezerwacje</h3>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <ul *ngIf="reservations.length > 0; else noReservations">
      <li *ngFor="let reservation of reservations">
        <strong>{{ reservation.type }}</strong> - {{ reservation.date }} {{ reservation.startTime }} - {{ reservation.endTime }}
        <span class="badge" [ngClass]="{'bg-success': reservation.isReserved, 'bg-danger': reservation.isCanceled, 'bg-secondary': !reservation.isReserved && !reservation.isCanceled}">
          {{ reservation.isReserved ? 'Zarezerwowane' : reservation.isCanceled ? 'Odwołane' : 'Oczekujące' }}
        </span>
      </li>
    </ul>
    <ng-template #noReservations>
      <p>Nie masz żadnych rezerwacji.</p>
    </ng-template>
  </div>
  