<form [formGroup]="form" (ngSubmit)="save()">
  <div class="mb-3">
    <label class="form-label">Dzień:</label>
    <input type="date" class="form-control" formControlName="day">
  </div>
  
  <div formArrayName="timeRanges">
    <div class="mb-3" *ngFor="let tr of timeRangesArray.controls; index as i" [formGroupName]="i">
      <label class="form-label">Przedział godzin:</label>
      <div class="input-group">
        <input type="time" class="form-control" formControlName="start">
        <input type="time" class="form-control" formControlName="end">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeTimeRange(i)">Usuń</button>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-secondary mb-3" (click)="addTimeRange()">Dodaj przedział</button>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-success" [disabled]="form.invalid">Zapisz</button>
  </div>
</form>
