<!-- src/app/calendar/calendar-view/calendar-view.component.html -->

<div class="container">

  <h2 class="text-center">Kalendarz Rezerwacji</h2>

  <div class="doctor-selector">
    <label for="doctor-select">Wybierz lekarza:</label>
    <select id="doctor-select" [(ngModel)]="selectedDoctorId" (change)="onDoctorChange()">
      <option *ngFor="let doctor of doctors" [value]="doctor.id">
        {{ doctor.firstName }} {{ doctor.lastName }}
      </option>
    </select>
  </div>
  

  <div class="d-flex justify-content-between">
    <!-- Przewijanie tygodni -->
    <button class="btn btn-outline-primary ms-3" (click)="goToPreviousWeek()">← Poprzedni tydzień</button>
    <button class="btn btn-outline-primary" (click)="goToNextWeek()">Następny tydzień →</button>
  </div>
  
  <br>

  <!-- Tabela 7 kolumn (dni) x N wierszy (sloty) -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Godzina</th>
        <th 
          *ngFor="let day of weekDays" 
          [class.current-day]="isCurrentDay(day)"
        >
          {{ day.dayOfWeek }} <br> ({{ day.date }})

          <br>
          <span>Rezerwacje: {{ day.reservedCount }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let slotIndex of slotIndexes">
        <!-- Etykieta czasu -->
        <td>{{ displaySlotLabel(slotIndex) }}</td>
        <!-- 7 kolumn (dni) -->
        <td
          *ngFor="let day of weekDays"
          [class.absent]="isAbsent(day)"
          [class.current-day]="isCurrentDay(day)"
          [class.current-time]="isCurrentTime(slotIndex, day)"
          [class.available]="isAvailable(slotIndex, day)"
          [class.clickable]="isSlotClickable(slotIndex, day) "
          (click)="onSlotClick(slotIndex, day)"
        >
          <ng-container *ngIf="day.slots[slotIndex] as slot">
            <!-- Komponent blokowy -->
            <app-calendar-slot-block [slot]="slot"></app-calendar-slot-block>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between">
    <button class="btn btn-outline-secondary ms-3" (click)="goToPreviousHours()">← Godziny</button>
    <button class="btn btn-outline-secondary" (click)="goToNextHours()">Godziny →</button>
  </div>

  <div *ngIf="selectedSlot" class="reservation-form-overlay">
    <app-reservation
      [date]="selectedSlot.date"
      [startTime]="selectedSlot.startTime"
      [validateSlots]="areSlotsAvailable.bind(this)"
      (close)="closeReservationForm()"
    ></app-reservation>
  </div>

</div>
