/* Gdy kolumna jest bieżącym dniem */
.current-day {
    background-color: #fef1d8; /* jasne tło */
  }
  
  /* Gdy wiersz jest bieżącą godziną */
  .current-time {
    outline: 2px dashed red; /* czerwona ramka wokół tego wiersza w danej kolumnie */
  }
  
  .available {
    background-color: #d4edda; /* zielone tło */
  }

  .absent {
    background-color: #f8d7da !important; /* czerwone tło */
  }

  .reservation-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Rozmyte tło */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .reservation-form-overlay app-reservation {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-form-overlay app-reservation {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%; /* Szerokość na 80% ekranu */
    max-width: 400px; /* Maksymalna szerokość formularza */
    min-width: 300px; /* Minimalna szerokość formularza */
  }
  