<h3>Dostępność w przedziale dat</h3>
<form [formGroup]="form">
  <label>Data od:</label>
  <input type="date" formControlName="dateFrom">

  <label>Data do:</label>
  <input type="date" formControlName="dateTo">

  <hr>
  <label>Dni tygodnia:</label>
  <div formArrayName="daysOfWeek">
    <div *ngFor="let opt of daysOfWeekOptions; index as i">
      <input type="checkbox" [formControl]="getDayOfWeekControl(i)">
      {{ opt.label }}
    </div>
  </div>

  <hr>
  <div formArrayName="timeRanges">
    <div *ngFor="let ctrl of timeRangesArray.controls; index as i" [formGroupName]="i">
      <label>Przedział:</label>
      <input type="time" formControlName="start">
      <input type="time" formControlName="end">
      <button (click)="removeTimeRange(i)">Usuń</button>
    </div>
  </div>
  <button (click)="addTimeRange()">Dodaj przedział</button>

  <br><br>
  <button (click)="save()" [disabled]="form.invalid">Zapisz</button>
</form>
