<form [formGroup]="form" (ngSubmit)="save()">
  <div class="mb-3">
    <label class="form-label">Data od:</label>
    <input type="date" class="form-control" formControlName="dateFrom">
  </div>
  <div class="mb-3">
    <label class="form-label">Data do:</label>
    <input type="date" class="form-control" formControlName="dateTo">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Dni tygodnia:</label>
    <div class="form-check" formArrayName="daysOfWeek" *ngFor="let opt of daysOfWeekOptions; index as i">
      <input type="checkbox" class="form-check-input" [formControl]="getDayOfWeekControl(i)">
      <label class="form-check-label">{{ opt.label }}</label>
    </div>
  </div>

  <div formArrayName="timeRanges">
    <div class="mb-3" *ngFor="let ctrl of timeRangesArray.controls; index as i" [formGroupName]="i">
      <label class="form-label">Przedział:</label>
      <div class="input-group">
        <input type="time" class="form-control" formControlName="start">
        <input type="time" class="form-control" formControlName="end">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeTimeRange(i)">Usuń</button>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-secondary mb-3" (click)="addTimeRange()">Dodaj przedział</button>
  </div>

  <div class="row">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Zapisz</button>
  </div>
</form>
